#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5         &none  &kp N6       &kp N7                &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q         &kp W         &kp E         &kp R         &kp T          &none  &kp Y        &kp U                 &kp I      &kp O     &kp P     &kp LBKT
&kp CAPS   &kp A         &kp S         &kp D         &kp F         &kp G          &none  &kp H        &kp J                 &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z         &kp X         &kp C         &kp V         &kp B          &none  &kp N        &kp M                 &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&none      &kp LCTRL     &kp LGUI      &lt 1 SPACE   &kp LSHFT     &lt 5 SPACE    &none  &lt 2 SPACE  &mt LEFT_SHIFT ENTER  &kp ESC    &kp BSPC  &kp RALT
            >;
        };

        layer_1 {
            bindings = <
&none           &kp F1     &kp F2     &kp F3     &kp F4     &kp F5       &none  &kp F6         &kp F7         &kp F8     &kp F9     &kp F10               &kp F11
&none           &none      &none      &kp LC(E)  &kp LC(R)  &kp GRAVE    &none  &kp LC(GRAVE)  &kp LC(U)      &kp LC(I)  &kp LC(O)  &kp EQUAL             &kp RIGHT_BRACKET
&none           &kp LC(A)  &kp LC(S)  &kp LC(D)  &kp LC(F)  &kp LC(G)    &none  &kp LEFT       &kp DOWN       &kp UP     &kp RIGHT  &kp NON_US_BACKSLASH  &kp GRAVE
&kp LEFT_SHIFT  &none      &none      &none      &none      &kp TAB      &none  &none          &kp LC(M)      &none      &none      &kp LS(LG(SLASH))     &kp RIGHT_SHIFT
&none           &none      &none      &none      &none      &none        &none  &mo 4          &kp LC(ENTER)  &none      &none      &none
            >;
        };

        layer_2 {
            bindings = <
&none      &kp LA(N1)  &kp LA(N2)  &kp LA(N3)     &kp LA(N4)   &kp LA(N5)     &none  &none          &none             &none             &none        &none      &none
&none      &kp LG(Q)   &kp LG(W)   &kp LG(E)      &kp LG(R)    &kp LG(T)      &none  &kp LG(SPACE)  &none             &kp LA(LG(I))     &none        &none      &none
&kp LG(A)  &kp LA(A)   &kp LG(S)   &kp LG(D)      &kp LG(F)    &kp LG(G)      &none  &kp LG(GRAVE)  &kp LG(LS(LBKT))  &kp LS(LG(RBKT))  &kp LG(TAB)  &kp LA(Q)  &none
&none      &kp LA(Z)   &kp LA(X)   &kp LG(C)      &kp LG(V)    &kp LG(B)      &none  &kp LG(N1)     &kp LG(N2)        &kp LG(N3)        &kp LG(N4)   &none      &none
&none      &none       &none       &kp LA(SPACE)  &lt 3 SPACE  &lt 6 SPACE    &none  &none          &none             &none             &none        &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none              &none  &none    &none  &none                  &none                 &none               &none                  &none  &none
&none  &none  &none  &none              &none  &none    &none  &kp LC(LA(LG(EQUAL)))  &none                 &none               &none                  &none  &none
&none  &none  &none  &none              &none  &none    &none  &kp LC(LA(LG(LEFT)))   &kp LC(LA(LG(DOWN)))  &kp LC(LA(LG(UP)))  &kp LC(LA(LG(RIGHT)))  &none  &none
&none  &none  &none  &kp LC(LA(LG(C)))  &none  &none    &none  &kp LC(LA(LG(MINUS)))  &kp LC(LA(LG(M)))     &kp LG(LA(LC(C)))   &none                  &none  &none
&none  &none  &none  &none              &none  &none    &none  &none                  &none                 &none               &none                  &none
            >;
        };

        layer_4 {
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &kp RBKT        &kp RIGHT_BRACE  &none           &none            &none  &none
&none           &bt BT_PRV    &bt BT_NXT    &none         &kp TILDE     &kp GRAVE       &none  &msc SCRL_LEFT  &msc SCRL_UP     &msc SCRL_DOWN  &msc SCRL_RIGHT  &none  &none
&none           &none         &none         &mkp LCLK     &mkp RCLK     &kp TAB         &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_UP    &mmv MOVE_RIGHT  &none  &none
&kp LSHFT       &none         &none         &none         &none         &none           &none  &kp BSLH        &kp PAGE_DOWN    &kp PAGE_UP     &none            &none  &kp RSHFT
&none           &none         &none         &none         &none         &none           &none  &none           &none            &none           &none            &none
            >;
        };

        layer_5 {
            bindings = <
&none           &kp LA(N1)  &kp LA(N2)  &kp LA(N3)  &kp LA(N4)  &none        &none  &kp RBKT   &kp RIGHT_BRACE  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&none           &none       &none       &none       &kp TILDE   &kp GRAVE    &none  &kp EQUAL  &kp PLUS         &kp LA(I)     &kp LA(O)             &kp LA(P)              &kp LBKT
&none           &kp LA(A)   &none       &none       &none       &none        &none  &kp LA(H)  &kp LA(J)        &kp LA(K)     &kp LA(L)             &kp SEMI               &kp SQT
&kp LEFT_SHIFT  &kp LA(Z)   &kp LA(X)   &none       &none       &none        &none  &kp BSLH   &kp PIPE         &kp COMMA     &kp DOT               &kp FSLH               &kp RSHFT
&none           &none       &none       &none       &none       &none        &none  &none      &kp LSHFT        &none         &none                 &none
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
